*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    
}

body {
    font-family: Arial,sans-serif;
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    
    color: #252424;

}
.container{
    background-color: #252424;
     color: #f0f0f0;
    border-radius: 10%;
     max-width: 400px;
    text-align: center;
    padding: 20px;
    box-shadow: 0 0 20px rgba(0,0,0,0,0.1);
    width:50%;
    height:500px ;
    
}

.search{
    
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.search button{
    border-radius: 50%;
    border: 0;
    outline: 0;
    background: #ebfffc;
    width: 60px;
    height: 60px;
    cursor: pointer;
    
    transition: background-color 0.3s ease-in-out;


}
.search button:hover {
    background-color: #ddd;
}
 .search button img{
    width: 18px;
}
 .search input{
    border: 0;
    outline: 0;
    background: #ebfffc;
    color: #555;
    padding: 10px 25px;
    height: 60px;
    border-radius: 30px;
    flex: 1;
    margin-right: 16px;
    font-size: 18px;
    transition: all 0.3s ease-in-out;
    
}
.search input:focus{
    width: 250px;
}
input, button {
    padding: 10px;
    margin: 10px 0;
    font-size: 16px;
    
}
.weather-icon{
    width: 170px;
     margin-top: 30px;
     animation: fadeIn 1s ease-in-out;
}
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.weather h1{
    font-size:80px ;
    font-weight: 500;
}
.weather h2{
    font-size: 45px;
    font-weight: 400;

}
.details{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    margin-top: 50px;


}
.col{
    display: flex;
     align-items: center;
     text-align: left;
    
}
.col img{
    width:40px ;
    margin-right: 10px;

}
.humidity,.wind{
    font-size: 28px;
    margin-top: -6px;
    animation: bounceIn 0.6s ease-in-out;
}
.weather{
    display:none ;
    
}
.error{
    text-align: left;
    margin-left:10px;
    font-size: 14px;
    margin-top: 10px;
    display: none;
    color: #b81616;

   
    
}

@keyframes bounceIn {
    from {
        transform: scale(0.5);
        opacity: 0;
    }
    to {
        transform: scale(1);
        opacity: 1;
    }
}




